#Tien Len TeaM Server
sv.port=19129
limit.ccu=20
db.host=localhost:3306
db.name=kpah2
db.user=kpah_local
db.password=CHANGE_ME_LOCAL_ONLY
db.maxco=100
db.nameNap=kpah2
db.userNap=kpah_local
db.pass=CHANGE_ME_LOCAL_ONLY
db.maxNap=30
#
db.host1=localhost:3306
db.name1=kpah2
db.user1=kpah_local
db.password1=CHANGE_ME_LOCAL_ONLY
db.maxco1=1
#
sv.portnap=19153
sv.server=1
sv.LG=3
sv.range=0
sv.pathLog=logs/
sv.createRace=2
sv.tablerace=tob_race_257
sv.dayrace=2013-07-11
db.hour=-1
db.run=
db.minute=2
sv.lang=0
sv.me=0
sv.ph=chienthan
sv.choi=snduca
sv.iplogin=127.0.0.1
sv.portlogin=8023
sv.clientAuthEnabled=0
sv.clientAuthAutoLock=1
sv.localAdminEnabled=1
sv.localAdminHost=127.0.0.1
sv.localAdminPort=18023
sv.localAdminToken=CHANGE_ME_LOCAL_ONLY
sv.launchEmbeddedAdminPanel=0
sv.javaRuntimeHome=../../.toolchains/jdk8/jdk8u492-b09
sv.javaBuildHome=../../.toolchains/jdk8/jdk8u492-b09
sv.javaAdminHome=../../.toolchains/jdk8/jdk8u492-b09
sv.ddosGuardEnabled=1
sv.ddosConnectWindowMs=3000
sv.ddosMaxConnectPerWindow=30
sv.ddosBlockSeconds=30
sv.ddosTrackerTtlSeconds=900
sv.socketBacklog=1024
sv.socketReceiveBufferBytes=131072
sv.socketSendBufferBytes=131072
sv.socketKeepAlive=1
sv.clientAuthSecret=CHANGE_ME_LOCAL_ONLY
sv.clientAuthMaxSkewSeconds=900
sv.clientAuthMeasurementsFile=dist/client_jar_locked/measurements.txt
sv.clientAuthAllowedHashes=BD7A120B24092047EA524B72C7A5C946F2AAEF12B3AEA3842DA36D52F6BBE325,345CD1573B91230972A5AF589ABE0733482A7A7BD535EA986BA91279AF06FC2E,7BF6001829A3F0AA2BD1E54F03B3AAD091C94C9E849B2C8019CFCA0518BF1AAB,C58CE306CFA0FA581336AE42BEEA0E82C952CA1640B42C9DAA1610C04D896E5C
sv.clientAuthAllowedPlainPlatforms=
sv.maintenanceHour=5
sv.maintenanceMinute=30
sv.lastAutoMaintenanceKey=2026-04-28
api.sv=2
api.url=http://127.0.0.1
// 1 la bat 2 la tat
sv.expvantieu=1
sv.Luckyexp=1
sv.ExpQua=1
sv.CodeTest=0
sv.EnableAvtiveCheck=0
sv.isSuKien83=0
sv.isSuKienTrungThul2016=0
sv.isSuKienTet2017=0
sv.isSuKienGioTo2016=1
sv.isSuKienNoel2023=0
sv.isSuKienTetduonglich2024=0

sv.ev.noel=0
sv.ev.noel2023=0
sv.ev.tet2017=0
sv.ev.tetduonglich2024=0
sv.ev.gioto2016=1
sv.ev.trungthu2016=0
sv.ev.he2017=0
sv.ev.worldcup2017=0
sv.ev.minichucnu=0
sv.ev.mini=0
sv.ev.mininuichaubau=0
sv.ev.blackfriday=0
sv.ev.haloween2016=0
sv.ev.sukien83=0
sv.ev.khabanh=0
sv.ev.trainroiluong=0
sv.ev.choden=0

sv.luckyBagDropRate=150000
sv.luckyBagRewardWeights=12,10,10,10,10,0
sv.luckyBagRewardMin=15,10,20000,50,50,0
sv.luckyBagRewardMax=40,40,100000,50,50,0
sv.luckyBagMaxOpenPerDay=50
sv.luckyBagLastGlobalResetKey=2026-04-28
sv.nongDanMaterialPointCost=400
sv.nongDanXuPointCost=400
sv.nongDanXuRewardAmount=50000
sv.nongDanLuongPointCost=500
sv.nongDanLuongKhoaPointCost=400
sv.nongDanAnHacThiPointCost=100000
sv.giotoDuaDropRate=42000
sv.nongDanPointPerMob=1
sv.nongDanPointPerMobBoost=2
sv.giotoDuaToPointCost=50,100,200,500
sv.giotoDuaToPointReward=200,450,1000,2800
sv.giotoMaterialDuaCost=50,50,50,50
sv.giotoMaterialXuCost=750000,1250000,1750000,2500000
sv.giotoRewardDuaCost=300,300,300,150,100
sv.giotoRewardXuCost=7500000,7500000,7500000,7500000,100000
