[Unit]
Description=Run KPAH backup every hour

[Timer]
OnBootSec=10min
OnUnitActiveSec=1h
Persistent=true
RandomizedDelaySec=2min

[Install]
WantedBy=timers.target
